 * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

html {
  overflow-y: scroll;
}


/* ---- grid ---- */

.grid {
  /*: #3F51B5;*/
  /*max-width: 1200px;*/
}


/* clear fix */

.grid:after {
  content: '';
  display: block;
  clear: both;
}


/* ---- .grid-item ---- */


.grid-sizer {
  width: 33.33%;
}



.square {
  /*border: 5px;*/
  height: 337.333;
  /*padding-bottom: 33.33%;*/
  width: 33.33%;
  float: left;
  background: #3F51B5;
  /*padding: 10px;*/
  /*margin: 5px;*/
  /*outline: 6px solid #333;
  outline-color: #212121;*/
  font-size: 4vw;
  text-align: center;
  vertical-align: middle;
}

.b1 {
  background: #03A9F4;
}

.b2 {
  background: #039BE5;
}

.b3 {
  background: #0288D1;
}

.b4 {
  background: #0277BD;
}

.b5 {
  background: #01579B;
}

.icon {
  float: right;
}

.grid-item {

}


.buy {
  height: 0;
  padding-bottom: 33.33%;
  width: 33.33%;
  float: left;
  background: #009688;
  /*outline: 6px solid #333;
  outline-color: #212121;*/

}


.but3 {
  /*height: 200px;*/
  background: #3F51B5;
  /*outline: 6px solid #333;
  color: #212121;
  text-align: center;*/
}

.but3 * {
position: absolute;
bottom: 10px;
right: 5px;
}

.sellMyHouse {
    background-image: url("../img/Gingerbread.jpg");
    background-repeat: no-repeat;
    background-position: center;
    color: #FFF;
    background-size: 100%, cover;
}

.sellMyHouseClick {

}


.buyAHouse {
    background-image: url("../img/buyahouse.jpg");
    background-repeat: no-repeat;
    background-position: center;
    color: #FFF;
    background-size: 100%, cover;
}


.estateAgents {
    background-image: url("../img/estateagents.jpg");
    background-repeat: no-repeat;
    background-position: center;
    color: #FFF;
    background-size: 100%, cover;
}

.txtblock {
  colorXXX: #FFF; 
  opacity: 0.95;

}

.gray {
  background-color: #000;
  opacity: 0.5;
  left: 0px;
  bottom: 0px;
  top: 54%;
  right: 0px;
}



.grid-item--width50 {
  width: 40%;
  padding-bottom: 60%;
}

.grid-item--width75 {
  width: 100%;
  padding-bottom: 100%;
}

.grid-item--width100 {
  width: 100%;
  
}


.bigscent {
  width:66.66666667%;
  height:66.6666667vw;
  
}

.scent {
  width:33.33333333%;
  height:33.3333333vw;
  
}


.sidemenu {
  width:33.3333333%;
  height: 16.6666667vw;
}
