 * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

html {
  overflow-y: scroll;
}


/* ---- grid ---- */

.grid {
  background: #DDD;
  /*max-width: 1200px;*/
}


/* clear fix */

.grid:after {
  content: '';
  display: block;
  clear: both;
}


/* ---- .grid-item ---- */

.grid-item,
.grid-sizer {
  width: 33.33%;
}

.grid-item {
  height: 0;
  padding-bottom: 33.33%;
  width: 33.33%;
  float: left;
  background: #FD8;
  outline: 5px solid #333;
  outline-color: #FFF;
}

.square {}

.grid-item--width50 {
  width: 66.66%;
  padding-bottom: 66.66%;
}

.grid-item--width75 {
  width: 100%;
  padding-bottom: 100%;
}

.grid-item--width100 {
  width: 100%;
}
