 * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

html {
  overflow-y: scroll;
}


/* ---- grid ---- */

.grid {
  /*: #3F51B5;*/
  /*max-width: 1200px;*/
}


/* clear fix */

.grid:after {
  content: '';
  display: block;
  clear: both;
}


/* ---- .grid-item ---- */


.grid-sizer {
  width: 33.33%;
}

.grid-item {

}

.square {
  height: 0;
  padding-bottom: 33.33%;
  width: 33.33%;
  float: left;
  background: #3F51B5;
  outline: 6px solid #333;
  outline-color: #212121;

}

.buy {
  height: 0;
  padding-bottom: 33.33%;
  width: 33.33%;
  float: left;
  background: #009688;
  outline: 6px solid #333;
  outline-color: #212121;

}


.but3 {
  height: 200px;
  background: #3F51B5;
  outline: 6px solid #333;
  outline-color: #212121;
  text-align: center;
}

.but3 * {
position: absolute;
bottom: 10px;
right: 5px;
}

.sellMyHouse {
    background-image: url("../img/Gingerbread.jpg");
    background-repeat: no-repeat;
    background-position: center;
    color: #FFF;
    background-size: 100%, cover;
}

.buyAHouse {
    background-image: url("../img/buyahouse.jpg");
    background-repeat: no-repeat;
    background-position: center;
    color: #FFF;
    background-size: 100%, cover;
}


.estateAgents {
    background-image: url("../img/estateagents.jpg");
    background-repeat: no-repeat;
    background-position: center;
    color: #FFF;
    background-size: 100%, cover;
}

.txtblock {
  colorXXX: #FFF; 
  opacity: 0.95;

}

.gray {
  background-color: #000;
  opacity: 0.5;
  left: 0px;
  bottom: 0px;
  top: 58%;
  right: 0px;
}



.grid-item--width50 {
  width: 66.66%;
  padding-bottom: 66.66%;
}

.grid-item--width75 {
  width: 100%;
  padding-bottom: 100%;
}

.grid-item--width100 {
  width: 100%;
  
}
